<label for="site-nav-toggle" class="site-nav-toggle-label">Menu</label>
    <nav class="site-nav location-{{ include.location }} ">
        <a class="{% if page.url != '/' %}current-page{% else %}dummy{% endif %}" href="{{ site.baseurl }}/">Home</a>
        <div class="dropdown">
            <a class="{% if page.url == '/' %}current-page{% else %}dummy{% endif %}" href="/" onclick="return false;">Planets</a></li>
            <div class="dropdown-content ">
                <ul>
                {% assign navigation_pages = site.pages | sort:"order" %}
                
                {% for current_page in navigation_pages %}
                    {% if current_page.group != planet %}
                    
                        <li class="page-title-{{ current_page.title | slugify }}{% if current_page.url == page.url %} current-page{% endif %}">
                            <a href="{{ site.baseurl }}{{ current_page.url }}">{{ current_page.title }}</a>
                        </li>
                    
                    {% endif %}  
                {% endfor %}
                </ul>
            </div>
        </div>
        <a class="{% if page.url != 'galery' %}current-page{% else %}dummy{% endif %}" href="galery/">Gallery</a>
    
    </nav>
<script>
    


    $(document).ready(function () {
    $(window).on("resize", function (e) {
        checkScreenSize();
    });

    checkScreenSize();

    function checkScreenSize(){
        var newWindowWidth = $(window).width();
        if (newWindowWidth < 600) {
            $('.dropdown').click(function() {
            if ( $('.dropdown-content').css('display') == 'none'){
                $('.dropdown-content').show('slow'); 
            }else{
                $('.dropdown-content').hide('slow');
            }
              });
        }
        else
        {
            $('.dropdown').hover(function() {
        
            $('.dropdown-content').show('slow'); 
            
            }, function(){
                $('.dropdown-content').hide('slow');
            });
        }
    }
    });
</script>