.page-home {
    .site-media {
        height: 75vh;
        justify-content: center;
    }
}


#test{
    opacity: 0.001;
    z-index: 5000;
    position: absolute;
    width: 660px;
    height: 400px;

}
.page-video video{
    width: 100%;
    border-radius: 10%;
}

.page-video iframe{
    
    padding: 10px 20px;
    max-width: 100%;
    max-height: 400px;
    border-radius: 10%;
    
}

body{
    background-image: url('https://cdn.pixabay.com/photo/2016/06/05/07/59/stars-1436950_960_720.jpg');

    
}
.site-branding{
    text-align:center;
    display:table;
    .site-title{
        display:table-cell;
         vertical-align:middle
        
    }
    .test1{
          width: 80px;
          height: auto;
      }
}

  
  