.page-home {
    .site-media {
        height: 75vh;
        justify-content: center;
    }
}

.test{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 3;
    opacity: 0.001;

}
.page-video{
    display: none;
    position: absolute;
    width: 30%;
}

body{
    background-image: url('https://cdn.pixabay.com/photo/2016/06/05/07/59/stars-1436950_960_720.jpg');
}

  img.item-img {
  
    &.move-to-cart{
      position:absolute;
      height:5px;
      width:5px;
      z-index:9999;
  
      &.animate{
        opacity:1;
        height:100%;
        width:100%;
        transition:all 1.5s ease-in-out;
      }
    //   &.hide-img{
    //     opacity:0.5;
    //     width:0;
    //     height:0;
    //     margin-left:75px;
    //     transition:all .5s ease-in-out;
    //   }
    }
  }
  

  
  
  

  
  
  
  
  
  
  
  
