.page-home {
    .site-media {
        height: 75vh;
        justify-content: center;
    }
}


// .test{
//     //background-image: url('https://cdn.pixabay.com/photo/2016/06/05/07/59/stars-1436950_960_720.jpg');
//     // opacity: 0.001;
//      //height: fit-content ;
//     //display: flex;
//     //justify-content: space-between;
//     //background-color: white;


//     position: absolute;
//     width: 50%;
//     bottom: 0px;
   
//     z-index: -10;
   

// }
#test{
    opacity: 0.001;
    z-index: 5000;
    position: absolute;
    width: 660px;
    height: 400px;

}
.page-video video{
    //display: none;
    //position: absolute;
    width: 100%;
    border-radius: 10%;
}

.page-video iframe{
    width: 660px;
    height: 400px;
    border-radius: 10%;
    
}

body{
    background-image: url('https://cdn.pixabay.com/photo/2016/06/05/07/59/stars-1436950_960_720.jpg');
    
}
.site-branding{
    text-align:center;
    display:table;
    .site-title{
        display:table-cell;
         vertical-align:middle
        
    }
    .test1{
          width: 80px;
          height: auto;
      }
}

  
  
// body {
//     width: 100%;
//     height: 100%;
//     background: #000;
//     overflow: hidden;
//   }
  

//   .fade {
//     position: relative;
//     width: 100%;
//     //min-height: 60vh;
//     //top: -25px;
//     background-image: linear-gradient(0deg, transparent, black 75%);
//     z-index: 1;
//   }
  
//   .star-wars {
//     display: block;
//     //justify-content: center;
//     position: relative;
//     height: 100px;
//     color: #feda4a;
//     font-family: 'Pathway Gothic One', sans-serif;
//     //font-size: 300%;
//     font-weight: 200;
//     letter-spacing: 6px;
//     line-height: 150%;
//     perspective: 400px;
//     text-align: justify;
//   }
  
//   .crawl {
      
//     position: relative;
    
//     transform-origin: 50% 100%;
//     animation: crawl 120s linear;
//   }
  
  
//   @keyframes crawl {
//       0% {
//       top: -10px;
//       transform: rotateX(20deg)  translateZ(0);
//     }
//       100% { 
//       top: -6000px;
//       transform: rotateX(25deg) translateZ(-2500px);
//     }
//   }
  


  .site-grid{
    //background-color: red;
    color: #fff;
    width: 80%;
    height: 100%;
    margin: 0 10%;
    
  }
  


  
  .wrapper {

    //width: 100%;
    //height: 400px;
    display: grid;
    //grid-gap: 15px;
    grid-template-columns: repeat(12, 1fr);
    //grid-template-columns: repeat(4, 74%);
    grid-template-rows: auto 1fr auto;
    //align-content: flex-start;
    //justify-content: flex-start;
    align-content: start;
    grid-gap: 2em;
    min-height: 80vh;

    h1,h2{
        text-align: center;
    }
    p{
        padding: 15px;
        text-indent: 50px;
      text-align: justify;
      letter-spacing: 2px;
    }
    .box-img{
        
        width: 400px;
        display: block;
margin-left: auto;
margin-right: auto
    
    }
  }
  
  
  
  .box {
    //background-color: #444;
    color: #fff;
    border-radius: 5px;
    //padding: 20px;
    //font-size: 150%;
  }
  
  .item1 {
    
    grid-column: 1 / 13;
    
  }
  
  .item2 {
    grid-column: 1 / 7;
    grid-row: 2 / 4;
    
  }
  
  .item3 {
    grid-column: 7 / 13;
  }

  .item4 {
    grid-column: 7 / 10;
  }
  
  .item5 {
    grid-column: 10 / 13;
  }

  
  
  
  
  
  
  
