.site-footer{
	position: absolute;
	width: 100%;
	background-color: lightblue;
	display: flex;
	margin-top: 30px;
	
}
.info{
	display: flex;
}

.site-footer .site-wrapper {
	padding: 2em 0;
	font-size: 1.2em;
}


.site-footer .site-wrapper p {
	margin: auto;
	padding: 0 30px;
	opacity: 0.4;
	transition: opacity 0.3s ease-in;
}


.site-footer .site-wrapper p:first-child {
	font-size: 1.2em;
}
